@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-main1: #1c00f2;
    --bg-main2: #453f96;
    --bg: #1d61c2;
    --light-bg: #3874c9;
}

*{
    margin:  0;
    padding: 0;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    transition: all .2s linear;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, var(--bg-main1), var(--bg-main2));
}

/* chat box css */
.chatbox{

    background: var(--bg);
    width: 60%;
    min-width: 250px;
    display: flex;
}
.col-1{
    flex: 1;
}
.col-2{
    flex-basis: 250px;
    background: var(--light-bg);    
}

.msg-row {
    display: flex;
    align-items: center;
    margin: 40px;
}
.msg-text {
    background: rgba(255,255,255,0.1);
    padding: 1.5rem 2.5rem;
    border-radius: .8rem;
    flex-basis: 70%;
    font-weight: 300;
}
.msg-text h2 {
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: .8rem;

}
.msg-img {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    margin: 0 1.5rem;
}
.msg-row2 {
    justify-content: flex-end;
}
.col-1 input{
    padding: 1.5rem 2.5rem;
    background: #3874c9;
    color: #fff;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    border-radius: .5rem;
    margin: 1rem;
}
::placeholder {
    color: #fff;
    /* margin: 0 1rem; */
}

.col-2 h3{
    text-align: center;
    margin-top: 2.5rem;
    font-weight: 400;
}
.col-2 ul{
    list-style: none;
    padding: 2.5rem;
}
.col-2 li{
    padding: .5rem 0;
    display: inline-block;
}
.col-2 ul li::before{
    content: '';
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background: red;
    display: inline-block;
    margin-right: .5rem;
}

.col-2 ul li.online::before{
    background-color: greenyellow;
}
.col-2 ul li.offline::before{
    background-color: tomato;
}
.col-2 ul li.online::before{
    background-color: yellow;
}
.btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-box .btn{
    margin: 1rem 1rem;
    color: #fff;
    background: var(--light-bg);
    border: .1rem solid rgba(255,255,255,0.1);
    padding: 1rem 2rem;
    letter-spacing: 1px;
    border-radius: .5rem;
    display: inline-block;
    width: 5rem;

}
.btn-box .btn:hover{
    color: #fff;
    background: var(--bg-main1);
}